extends layout.pug 
block styles 
  link(rel='stylesheet' href='../css/dashboard.css')
block content
  include sidebar.pug
  main.main-content
    nav.navbar.bg-body-tertiary.dashboard-header
      .container-fluid.d-flex.justify-content-end.align-items-center
        .d-flex.align-items-center
          a.logoutBtn(href='/index') Logout
    .dashboarBody
      h3 Mayondo Wood & Furniture ltd
      .welcome-container
        h3.fade-in Welcome 
          span.username.typewriter #{currentUser.role}!
        p.fade-in(style="animation-delay: 1.5s;") You're now logged in.
      section#dash-top.dash
        .row
          .col-md-3
            .dash-card
              .card-body
                i.fa-solid.fa-sack-dollar
                h5.card-title Total Revenue
                p.card-text Shs. #{dashboardData.totalRevenue}
                small.text-muted Combined potential revenue
          .col-md-3
            .dash-card
              .card-body
                i.fa-solid.fa-credit-card
                h5.card-title Total Profit
                p.card-text Shs. #{dashboardData.totalProfit}
                small.text-muted Combined potential profit
          .col-md-3
            .dash-card
              .card-body
                i.fa-solid.fa-users-line
                h5.card-title Total Inventory Items 
                p.card-text #{dashboardData.totalInventory}
                small.text-muted Unique products in stock
          .col-md-3
            .dash-card
              .card-body
                i.fa-solid.fa-truck-ramp-box
                h5.card-title Stock Warnings 
                p.card-text #{dashboardData.stockWarnings}
                small.text-muted Items with low stock
      //- Raw Materials Section
      br
      section#raw-materials
        h2 Raw Materials Overview
        br
        .row
          .col
            .dash-card.raw-card
              .card-body
                i.fa-solid.fa-tree
                h6.card-title Raw Revenue
                p.card-text Shs. #{dashboardData.rawRevenue}
          .col
            .dash-card.raw-card
              .card-body
                i.fa-solid.fa-coins
                h6.card-title Raw Profit
                p.card-text Shs. #{dashboardData.rawProfit}
          .col
            .dash-card.raw-card
              .card-body
                i.fa-solid.fa-box
                h6.card-title Raw Items
                p.card-text #{dashboardData.rawInventory}
      section#raw-materials-two.dash.mt-5
        .row
          .col
            .dash-card.raw-card
              .card-body
                i.fa-solid.fa-exclamation
                h6.card-title Raw Warnings
                p.card-text #{dashboardData.rawStockWarnings} 
          .col
            .dash-card.raw-card
              .card-body
                i.fa-solid.fa-cubes
                h6.card-title Total Units
                p.card-text #{dashboardData.rawItems}
          .col
            .dash-card.raw-card
              .card-body
                i.fa-solid.fa-dollar-sign
                h6.card-title Inventory Value
                p.card-text Shs. #{dashboardData.rawInventoryValue}
      //- Furniture Section
      br
      br
      section#furniture
        h2 Furniture Overview
        br
        .row
          .col
            .dash-card.furniture-card
              .card-body
                i.fa-solid.fa-couch
                h6.card-title Furniture Revenue
                p.card-text Shs. #{dashboardData.furnitureRevenue}
          .col
            .dash-card.furniture-card
              .card-body
                i.fa-solid.fa-money-bill
                h6.card-title Furniture Profit
                p.card-text Shs. #{dashboardData.furnitureProfit}
          .col
            .dash-card.furniture-card
              .card-body
                i.fa-solid.fa-box-open
                h6.card-title Furniture Items
                p.card-text #{dashboardData.furnitureInventory}
      section#furniture.dash-two.mt-5
        .row
          .col
            .dash-card.furniture-card
              .card-body
                i.fa-solid.fa-exclamation-triangle
                h6.card-title Furniture Warnings
                p.card-text #{dashboardData.furnitureStockWarnings}
          .col
            .dash-card.furniture-card
              .card-body
                i.fa-solid.fa-layer-group
                h6.card-title Total Units
                p.card-text #{dashboardData.furnitureItems}
          .col
            .dash-card.furniture-card
              .card-body
                i.fa-solid.fa-tag
                h6.card-title Inventory Value
                p.card-text Shs. #{dashboardData.furnitureInventoryValue}
        br
        br
    footer
      p © 2025 Mayondo Wood & Furniture Ltd. All rights reserved.
  script(src='../javascript/dashboard.js')