extends layout.pug 
block styles
  link(rel="stylesheet", href="../css/add-sale.css")
block content 
  include sidebar.pug
  main.main-content
    //- nav.navbar.bg-body-tertiary.dashboard-header
    //-   .container-fluid.d-flex.justify-content-end.align-items-center
    //-     .d-flex.align-items-center
    //-       a.logoutBtn(href="/index") Logout
    .user-form-container
      form#addSale(action=`/editSales/${item._id}`, method="post")
        h2 Edit Sale Here!
        label(for="name") Name of Customer
        br
        input#name(type="text", name="name", required value=`${item.name}`)
        br
        br
        label(for="contact") Customer Contact
        br
        input#name(type="text", name="contact", required value=`${item.contact}`)
        br
        br
        label(for="nproduct") Name of Product
        br
        input#nproduct(type="text", name="nproduct", required value=`${item.nproduct}`)
        br
        br
        label(for="tproduct") Type of Product
        br
        select#tproduct(name="tproduct", required)
          option(value=`${item.tproduct}`) #{item.tproduct}
          option(value="Raw Material") Raw 
          option(value="Furniture") Furniture 
        br
        br
        label(for="quantity") Quantity
        br
        input#quantity(type="number", name="quantity", required value=`${item.quantity}`)
        br
        br
        label(for="unitPrice") Unit Price
        br
        input#unitPrice(type="text", name="unitPrice", required value=`${item.unitPrice}`)
        br
        br
        label(for="transportCheck") Add 5% Transport Fee 
        input#transportCheck(type="checkbox" name="transportCheck" value=`${item.transportCheck}`)
        br
        br
        label(for="totalPrice") Total Price
        br
        input#totalPrice(type="text", name="totalPrice", required value=`${item.totalPrice}` readonly)
        br
        br
        label(for="payment") Select Payment Method
        br
        select#payment(name="payment", required)
          option(value=`${item.payment}`) #{item.payment}
          option(value="Bank Overdraft") Bank Overdraft
          option(value="Cash") Cash 
          option(value="Cheque") Cheque
        br
        br
        label(for="date") Date
        br
        input#date(type="date", name="date", required value=item.date ? new Date(item.date).toISOString().split('T')[0] : '')
        br
        br
        label(for="agent") Sales Agent Name
        br
        input#agent(type="text", name="agent", required value=`${item.agentName}`, readonly)
        br
        br
        .add
          button.btns(type="submit") Update Sale 
          button.btns(type="reset") Cancel
  script(src="/javascript/sales.js")