extends layout.pug 
block styles
  link(rel='stylesheet' href='../css/add-user.css')
block content 
  include sidebar.pug
  main.main-content
    nav.navbar.bg-body-tertiary.dashboard-header
      .container-fluid.d-flex.justify-content-end.align-items-center
        .d-flex.align-items-center
          a.logoutBtn(href='/index') Logout
    .user-form-container
      form#addUser(action=`/editUser/${user._id}` method='post')
        if error
          .alert.alert-danger #{error}
        label(for='name') Full Name
        br
        input#name(type='text' name='name' value=user.name required)
        br
        br
        label(for='email') Email
        br
        input#email(type='email' name='email' value=user.email required)
        br
        br
        label(for='tel') Phone Number 
        br
        input#tel(type='tel' name='tel' value=user.tel required)
        br
        br
        label(for='nin') NIN Number
        br
        input#nin(type='text' name='nin' value=user.nin required)
        br
        br
        label(for='address') Address
        br
        input#address(type='text' name='address' value=user.address required)
        br
        br
        label(for='username') Username
        br
        input#username(type='text' name='username' value=user.username required)
        br
        br
        label(for='password') Password
        br
        input#password(type='password' name='password' value=user.password required='')
        br
        br
        label(for='confirmPassword') Confirm Password
        br
        input#confirmPassword(type='password' name='confirmPassword' value=user.confirmPassword required='')
        br
        br
        label(for='date') Date 
        br
        input#date(type='date' name='date' value=user.date.toISOString().split('T')[0] required)
        br
        br
        .buttons(style="display:flex; gap:150px")
          button.btns(type='submit') Update User 
          a.btns(href='/usersList' style='text-decoration: none;') Cancel
  script(src='../javascript/user.js')