extends layout.pug 
block styles 
  link(rel="stylesheet", href="../css/login.css")
block content
  form#loginForm(action="/login", method="post")
    .form-container
      h1.head Login
      br
      
      //- Display error message if exists
      if error
        div(style="color: red; background: #ffe0e0; padding: 10px; border-radius: 5px; margin-bottom: 15px; text-align: center; border: 1px solid red;")
          | #{error}
      
      .input-box
        i.fas.fa-envelope.input-icon
        input#email(
          type="email", 
          placeholder="Email", 
          name="email", 
          value=email || ""
        )
        span#emailError.error #{emailError || ''}
      
      .input-box
        i.fas.fa-lock.input-icon
        input#password(
          type="password", 
          placeholder="Password", 
          name="password"
        )
        i.fas.fa-eye-slash.toggle-password#togglePassword
        span#passwordError.error #{passwordError || ''}
      
      br
      br
      .remember-forgot
        label
          input(type="checkbox")
          | Remember Me
      br
      br
      button.button#login-btn(type="submit") Login
      br

  script(src="../javascript/login.js")
  script.
    // Toggle password visibility
    const togglePassword = document.getElementById('togglePassword');
    const passwordInput = document.getElementById('password');
    
    if (togglePassword && passwordInput) {
      togglePassword.addEventListener('click', function() {
        // Toggle the type attribute
        const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
        passwordInput.setAttribute('type', type);
        
        // Toggle the eye icon
        this.classList.toggle('fa-eye');
        this.classList.toggle('fa-eye-slash');
      });
    }