//- extends layout.pug 
//- block styles
//-   link(rel='stylesheet' href='..css/receipt.css')
//- block content
//-   body
//-     .container.mt-4
//-       header.text-center.mb-4
//-         h2 MAYONDO WOOD AND FURNITURE LTD 
//-         p B2B wood & Furniture Company
//-         p tel: +256778899000 / +256765434244
      
//-       section
//-         hr
//-         h3.text-center RECEIPT 
        
//-         if item
//-           .receipt-details
//-             p Date :  #{item.date}
//-             p Product Name :  #{item.pdtname}
//-             p Supplier :  #{item.supplier}
//-             p Supplier Contact :  #{item.supplierContact}
//-             p Cost Price :  #{Math.round(item.pdtquantity * item.pdtprice)}
//-         else
//-           p.text-danger No item data found
        
//-         hr
//-         p.text-center Thank You For Choosing Us!
        
//-         button.btn.btn-primary.mt-3(onclick="window.print()") Print Receipt
//-         a.btn.btn-secondary.mt-3.ms-2(href="/stock") Back to Home