doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB' crossorigin='anonymous')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css' integrity='sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==' crossorigin='anonymous' referrerpolicy='no-referrer')
  link(href='https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap' rel='stylesheet')
  script(src='https://cdn.jsdelivr.net/npm/chart.js')
  link(rel='stylesheet' href='/css/stock.css')
  title Stock
header
  aside.side-menu-container.active
    .logo-menu
      h2.logo MWF
      i.fa-solid.fa-bars
    ul.list
      li.list-item
        a(href='dashboard')
          i.fa-solid.fa-house
          span.link-name Dashboard
      li.list-item
        a(href='usersList')
          i.fa-solid.fa-users
          span.link-name Users
      li.list-item
        a(href='sales')
          i.fa-solid.fa-cart-shopping
          span.link-name Sales
      li.list-item.active
        a(href='stock')
          i.fa-solid.fa-truck
          span.link-name Stock
      li.list-item
        a(href='products')
          i.fa-solid.fa-couch
          span.link-name Products
      li.list-item
        a(href='#')
          i.fa-solid.fa-gear
          span.link-name Settings
main.main-content
  nav.navbar.bg-body-tertiary.dashboard-header
    .container-fluid.d-flex.justify-content-end.align-items-center
      .d-flex.align-items-center
        form.d-flex.me-3(role='search')
          input.form-control.me-2(type='search' placeholder='Search' aria-label='Search')
          button.btn.btn-outline-success(type='submit') Search
        a.logoutBtn(href='index') Logout
  section#dash-top.dash
    .row
      .col-md-3
        .dash-card
          .card-body
            i.fa-solid.fa-file-lines
            h5.card-title Invoices
            p.card-text Shs.500,000
      .col-md-3
        .dash-card
          .card-body
            i.fa-solid.fa-money-check-dollar
            h5.card-title Profit
            p.card-text 70%
      .col-md-3
        .dash-card
          .card-body
            i.fa-solid.fa-coins
            h5.card-title Revenue
            p.card-text Shs. 50,000
      .col-md-3
        .dash-card
          .card-body
            i.fa-solid.fa-users-line
            h5.card-title Customers
            p.card-text 15
    br
    br
    br
  .include
    a.btns(href='/addStock') Add Product
    a.btns Download Excel
    a.btns Download PDF
    input#searchStock(type='search' placeholder='Search...')
  section
    table#newStock.table-content
      tr
        thead.row-one
          th Product Name
          th Product Type
          th Quantity
          th Product Price
          th Cost Price
          th Quality
          th Supplier Name
          th Date
          th Actions 
      tbody.row-others
        if items.length 
          each item in items 
            tr 
              td #{item.pdtname}
              td #{item.pdttype}
              td #{item.pdtquantity}
              td #{item.pdtprice}
              td #{item.cprice}
              td #{item.quality}
              td #{item.supplier}
              td #{item.date}
              td 
                a.btn-icon(href=`/editStock/${item._id}` title='Edit')
                  i.fas.fa-edit
                form(method='post', action='/deleteStock', style='display:inline')
                  input(type='hidden', name='id', value=item._id)
                  button.btn-icon(type='submit', title='Delete')
                    i.fas.fa-trash
    h5#notFound Not Found
script(src='/javascript/stock.js')
//  SheetJS
script(src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js")
// jsPDF + AutoTable
script(src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.28/jspdf.plugin.autotable.min.js")
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js' integrity='sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI' crossorigin='anonymous')
