meta(charset="UTF-8")
meta(name="viewport", content="width=device-width,initial-scale=1")
title Users
link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB", crossorigin="anonymous")
link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css", integrity="sha512-Avb2QiuDEEvB4bZJYdft2mNjVShBftLdPG8FJ0V7irTLQ8Uo0qcPxh4Plq7G5tGm0rU+1SPhVotteLpBERwTkw==", crossorigin="anonymous", referrerpolicy="no-referrer")
link(rel="stylesheet", href="/css/user.css")
style.
  
  
header
  aside.side-menu-container.active
    .logo-menu
      h2.logo MWF
      i.fa-solid.fa-bars
    ul.list
      li.list-item
        a(href="/dashboard")
          i.fa-solid.fa-house
          span.link-name Dashboard
      li.list-item.active
        a(href="/usersList")
          i.fa-solid.fa-users
          span.link-name Users
      li.list-item
        a(href="/sales")
          i.fa-solid.fa-cart-shopping
          span.link-name Sales
      li.list-item
        a(href="/stock")
          i.fa-solid.fa-truck
          span.link-name Stock
      li.list-item
        a(href="/products")
          i.fa-solid.fa-couch
          span.link-name Products
      li.list-item
        a(href="settings")
          i.fa-solid.fa-gear
          span.link-name Settings
main.main-content
  nav.navbar.bg-body-tertiary.dashboard-header
    .container-fluid.d-flex.justify-content-end.align-items-center
      .d-flex.align-items-center
        a.logoutBtn(href="/index") Logout
  .to-do
    a#newUser.btns(href="/add") Add New User
    a#downloadExcel.btns Download Excel
    a#downloadPdf.btns Download PDF
    input#searchUser(type="search", placeholder="Search...")
  table#addUser.table-content
    thead.row-one#top-one
      tr
        th Full Name
        th Email
        th Contact
        th NIN
        th Address
        th Username 
        th Role 
        th Actions 
    tbody.row-others#others
      if users.length
        each user in users
          tr
            td #{user.name}
            td #{user.email}
            td +256#{user.tel}
            td #{user.nin}
            td #{user.address}
            td #{user.username}
            td #{user.role}
            td
              a.btn-icon(href=`/editUser/${user._id}` title='Edit')
                i.fas.fa-edit
              form(method='post', action='/deleteUser/${user._id}', style='display:inline')
                input(type='hidden', name='id', value='DELETE')
                button.btn-icon(type='submit', title='Delete', onclick="return confirm('Are you sure you want to delete this User?')")
                  i.fas.fa-trash
    br
  h5#notFound Not Found
  //  SheetJS
  script(src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js")
  // jsPDF + AutoTable
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.28/jspdf.plugin.autotable.min.js")
  script(src="../javascript/user.js")
  script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js", integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI", crossorigin="anonymous")